{% extends "OCPlatformBundle::layout_connexion.html.twig" %}

{% block body %}
<h3>Nous contactez .</h3>
<div id ="connexion"class="jumbotron"  >
   {{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>{% endblock %}