{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Carnet d'adresse sous Symfony2{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  {% endblock %}
<META HTTP-EQUIV="Content-Style-Type" CONTENT="text/css">
<link href="navbar.css" rel="stylesheet">
<script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
<Style>
 #nav {
  padding: 0; margin: 0;
  text-align: center; /* centrer le texte */
}
#nav li {
  display: inline;
  list-style: none;

}
#nav a {
  display:inline-block;
  margin: 0 30px;
  margin-top:20px;
  margin-bottom:20px;
}
#navig{ margin-top:20px;
  
}
h1
{
  font-size: 32px;
  text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: #090;
  padding:16px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:block;
  margin:16px;
  background-image:url(.jpg);  
}
body {
    background: #252525;
    font-family: 'Open Sans';
    font-weight: 300;
}
}
.main {
    background: white url(machine_a_ecrire.jpg) right top no-repeat;
    background-size: contain;
    padding: 80px 20px 20px;
    margin-top: 120px;
}
@media only screen and (max-width : 992px) {
    .main {
        background: white;
        margin-top: 30px;
    }
}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #555;
    margin-bottom: 0;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 18px;
    margin-top: 5px;
}
form {
    margin-top: 60px;
}
input.form-control , input[type="submit"] , .btn {
    border-radius: 0px;
}
.btn {
    transition: all ease-in-out 0.2s;
}
.credits {
    margin-top: 100px;
    color: #999;
    font-size: 12px;
}
.credits a {
    color: inherit;
}
</Style>
</head>

<body>
  <div class="container">

        <nav id="navig" class="navbar navbar-default" >

    
    <ul id="nav"><!--
  --><li><a   href="{{ path('hello_the_world')}}">Accueil</a></li><!--
  --><li><a   href="{{ path('hello22')}}">Connexion</a></li><!--
  --><li><a   href="#">Deconnexion</a></li><!--
  <!--
  --><li><a href="#">Contact</a></li>
</ul> </nav>

          <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>
  </div>

  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>